name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Unit tests
      run: make test

    - name: Upload code coverage
      uses: codecov/codecov-action@v2
      with:
        files: cover.out

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v2
      with:
        version: v1.43
