name: build

on:
  pull_request:
    branches:
    - main
    - dhemmerl-e2e

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Run unit tests
      run: make test

    - name: Run acceptance tests
      run: make e2e-test