name: deploy

on:
  # This is for testing purposes. Will remove prior to merge
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:

  deploy:
    runs-on: ubuntu-latest
    env:
      REGISTRY: ghcr.io/${{ github.repository }}
    permissions:
      contents: read
      packages: write
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Build image
      run: make docker-build

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Tag image for github container repository with commit SHA
      run: 'docker tag controller:latest $REGISTRY:$GITHUB_SHA'

    - name: Push image for github container repository with commit SHA
      run: 'docker push $REGISTRY:$GITHUB_SHA'

    - name: Tag image for github container repository with latest
      run: 'docker tag controller:latest $REGISTRY:latest'

    - name: Push image for github container repository with latest
      run: 'docker push $REGISTRY:latest'
